.box
  .box__image
    img(src="./img/content/" + imageUrl + ".png")

    if playBtn
      .play-btn

  .box__body
    div
      if infoText
        .info #{infoText}

      h3 #{title}

      if description
        p.description #{description}

    if linkText
      .link-box
        a(href=linkUrl).btn #{linkText}
