.teaser
  .teaser__body
    div
      h3 #{title}
      .teaser__author #{author}
      .teaser__history #{history}
      .teaser__publish-info #{publishInfo}

    .link-box
      a(href=linkUrl class=linkFormat === 'pdf' ? 'pdf-btn' : 'ext-link') #{linkText}
